/* RESET + BASE */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  background: repeating-linear-gradient(
    90deg,
    #fcd3e1 0px,
    #fcd3e1 15px,
    #fff2f6 15px,
    #fff2f6 30px,
    #fcd3e1 30px,
    #fcd3e1 45px
  );
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.site-header {
  background-color: #442f2a;
  color: #fcd3e1;
  height: 80px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 24px;
  width: 100%;
}

.header-stripe {
  height: 10px;
  background: repeating-linear-gradient(
    90deg,
    #442f2a 0px,
    #442f2a 15px,
    #fcd3e1 15px,
    #fcd3e1 30px
  );
}


/* FIX: normalize header title height */
.site-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fcd3e1;
  text-transform: lowercase;
}

/* NAV */
.site-nav {
  display: flex;
  gap: 32px;
  margin-left: auto
}

.site-nav a {
  font-size: 1rem;
  font-weight: 700;
  color: #fcd3e1;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.site-nav a:hover,
.site-nav a.active {
  text-decoration: underline;
}

/* FOOTER */
.thin-footer {
  background: #442f2a;
  padding: 8px 0;
  text-align: center;
  color: #fcd3e1 ;
  font-weight: 600;
  border-top: 2px solid #442f2a;
  margin-top: auto;
}

/* UNIVERSAL WRAPPER */
.page-wrapper {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* UNIVERSAL BOX */
.page-box {
  background: #fff7f9 ;
  border: 2px solid #442f2a;
  padding: 25px 30px;
}

.page-box h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #442f2a;
}

.page-box p,
.page-box li {
  font-size: 16px;
  line-height: 1.6;
  color: #503938;
}

.page-box ul {
  padding-left: 30px;
}
